* {
    box-sizing: border-box;
}

/* body Changes bgcolor and font property*/
body {
    background-color: #aad4cf;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 20px; 
    margin: 0;  
}

/* wrapper sets bgcolor, width and center*/
.wrapper {
    background-color: rgb(187, 229, 232);
    max-width: 800px;
    margin: 0 auto;    
}

/* header sets image tag, position, title on the image and in the center*/
.header-image {
    background-image: url("../images/lone-starfish-wide.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    position: relative;
    margin: auto;  
    padding: 60px;
}

.header-text {
    font-size: 130%;
    text-align:center;
    position: relative;
    color: white;
    left: 50%;
    transform: translate(-50%, 80%);
}

/*nav sets display, width, font-size and center*/
nav a {
    display: inline-block;
    width: 31.5%;
    text-align: center;
    font-weight: normal;
    font-size: 110%;
}  

/*Setting any <a> to change color and text-decoration*/
a:link , a:visited {
    color: black;
    text-decoration: none;
}

/*H2 sets font size and padding*/
h2 {
    padding-left: 2%;
    font-size: 150%;
    margin-bottom: 0%;
}

/* Set image in the left size and text wrapping around image */
.columns #lonestarfish {
    width: 240px; 
    height: auto;
    float: left;
    margin: 15px;
    padding-bottom: 1%;
}

.columns p {
    padding: 2%;
    text-align: justify;
    font-size: 70%;
    margin-top: 0%;
}

/*H3 sets font size and padding*/
h3 {
    padding-left: 2%;
    font-size: 130%;  
    margin-bottom: auto;
}

/* fact sets text on left and font-size*/
.fact ul li {
    text-align: left;
    font-size: 70%;
    margin-left: 0;
    line-height: 1.2;
}

/*set box contains form inside with widght,height,border*/
.box {
    width:auto;
    height: 420px;
    border: 1.5px solid black;
    margin: 2%;
    padding: 10px;
    font-size: 80%;    
}

/*Set box is under the text*/
.form label {
    display: block;
    line-height: 2.5;
    font-weight: bold;
}

/*Expanding the size of text box*/
.form input {
    padding: 3px;
    box-shadow: none;
    width: 100%;
}

textarea {
    padding: 3px;
    box-shadow: none;
    width: 100%;
    height: 60px;
}

/*H4 sets font size and margin*/
.stage h4 {
    font-size: 100%;
    margin-bottom: 2%;
}

/* button style is transparent with a black border.*/
button {
    background-color: transparent;
    color: black;
    border: 1.5px solid black;
    padding: 14px; 
    margin-top: 2%;
}

/*Footer sets text-align on the right*/
footer p {
    text-align:right;
    padding-bottom: 2%;
    margin: 2%;
    font-size: 70%;
}