/* Changing bgcolor and font*/
body {
    background-color: #aad4cf;
    font-family:Arial, Helvetica, sans-serif;
    line-height:170%;
}

/* wrapper sets bgcolor, width and center*/
.wrapper {
    background-color: rgb(187, 229, 232);
    width: 750px;
    margin: auto;
}

/* header sets image tag, title on the image and in the center*/
header h1 {
    padding: 120px;
    font-size: 250%;
    text-align:center;
    color: white;
    background-image: url("../images/lone-starfish-wide.jpg");
    background-repeat: no-repeat;
    background-position:top;
    background-size:cover;
    margin: auto;  
}

/*nav sets display, width, height, font-size and center*/
nav ul li {
    display: inline-block;
    width: 220px;;
    height: 30px;
    text-align: center;
    font-weight: normal;
    font-size: 130%;
}  

/*Setting to change color and text-decoration*/
a:link , a:visited {
    color: black;
    text-decoration: none;
}

/*Hover sets font-weight*/
a:hover , a:active {
    font-weight: bolder;
}

/*H2 and H3 set font size and padding*/
h2 , h3 {
    padding: 2%;
    font-size: 200%;
}

/* Set image in the left size and text wrapping around image */
#lonestarfish {
    width: 250px; 
    height: auto;
    float: left;
    margin: 15px;
}

p {
    padding: 2%;
    text-align: justify;
    font-size: 80%;
}

/* fact sets text on left and font-size*/
.fact ul li {
    text-align: left;
    font-size: 80%;
}

/*set box contains form inside with widght,height,border*/
.box {
    width:auto;
    height: 370px;
    border: 1px solid black;
    margin: 1%;
    padding: 10px;
}

/*Expanding the size of text box*/
.form input {
    padding: 3px;
    box-shadow: none;
    width: 700px;
}

textarea {
    padding: 3px;
    box-shadow: none;
    width: 700px;
    height: 50px;
}

/*Set box is under the text*/
.form label {
    display: block;
}

/* button style transparent and border black*/
button {
    background-color: transparent;
    color: black;
    border: 2px solid black;
    padding: 14px; 
}

/*Footer sets text-align on the right*/
footer p {
    text-align:right;
    padding: 3px;
    border: 2px;
    margin: 2px;
    
  
}